*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', cursive;
    font-size: 20px;
    background-color: #efefef;
    display: grid;
    gap: 4px;
    float: left;
    width: 100%;
}

.container{
    font-size: smaller;
    display: grid;
    gap: 7px;
}

.header{
    width: 100%;
    display: grid;
    float: left;
    background-color: #ffd438;
}

.gambar{
    float:left;
    place-content: center;
    text-align: center;
}

.header img{
    width: 35%;
    padding: 20px;
}

/* navigation */

.menu{
    width: 100%;
    display: grid;
    float: left;
    padding: 7px;
}

.menu ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    gap: 10px;
}

.menu a{
    margin: 10px;
    display: block;
    font-weight: bold;
    color: rgb(3, 46, 138);
    text-align: center;
    background-color: #e6e6e6;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px;
    font-size: larger;
    cursor: pointer;
}

.menu .discover a{
    background-color: rgb(3, 46, 138);
    color: #e6e6e6;
}

/*koleksi*/
.collection{
    margin-left:50px;
    font-size: larger;
    padding: 40px;
    display: grid;
    margin-right: 40px;
}

.collection h2{
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.collection ul{
    list-style: none;
    display: grid;
    gap: 10px;
    padding: 20px;
}

.collection li{
    display: block;
    font-weight: bold;
    color: rgb(3, 46, 138);
    background-color: #e6e6e6;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px;
    cursor: pointer;
}

/*kategori*/
.category{
    margin-left:50px;
    font-size: larger;
    padding: 40px;
    display: grid;
    margin-right: 40px;
}

.category h2{
    font-size: 40px;
}

.category ul{
    list-style: none;
    display: grid;
    padding: 10px;
}

.category li{
    display: block;
    font-weight: bold;
    color: rgb(3, 46, 138);
    background-color: #ffd438;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px;
    cursor: pointer;
}

.category-items{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-content: center;
    gap: 10px;
}

.search{
    display: block;
    padding: 20px;
    gap: 20px;
    float: left;
    width: 100%;
    place-content: center;
    text-align: center;
    grid-area: search;
}

input[type = text]{
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    justify-content: center;
    width: 70%;
    height: 40px;
    text-align: left;
}

button[type = submit]{
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 46, 138);
    border: none;
    width: 10%;
    height: 40px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

/*logout*/
.logout{
    color: #e6e6e6;
}


input[type = submit]{
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px;
    font-family: 'Poppins', cursive;
}

@media screen and (max-width : 1200px) {
    .container{
        grid-template-columns: 1fr;
    }
}
